body {
	background: #F3F3F3;
	font-family: 'Roboto', sans-serif;	
}
header {
	background: #F3F3F3;
	margin-bottom : 0;
}
header .main {
	overflow: hidden;
	background: #000000;
	margin: 0;
	margin-bottom : 0;
}

/* --- LOGO --- */
header .logo #consulta,
header .logo #mobil,
header .logo #mobil span {
	cursor: pointer;	
}
header .logo #consulta{
	margin-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
    color: #FFFFFF;
	padding-right: 20px;
}
header .logo #mobil{
	font-family: Arial, Helvetica, sans-serif;
	color: #005DAA;
	font-size: 40px;
}
header .logo #mobil span{
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 40px;
    color:red;
}

/* --- BUSCAR --- */
header .buscar form input[type="text"] {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;	
	display: inline-block;	
	background: #000000;
	border-color: #939394;
	font-size: 22px;
	height: 30px;
	border-radius: 21px 21px 21px 21px;
	color: #6d6d6d;
}
header .buscar form button {
	background: #000000;
	color: #939394;
	border: none;
}
header .buscar form button:hover {
	background: #000000;
	color: #FFFFFF;
}


/* --- MENU NAV --- */
header .nav {
	font-family: 'Roboto', sans-serif;	
    font-size: 1.2vw;
    font-weight: 300;
    color: #666666;
    overflow-x: hidden;	
	background: #FFFFFF;
	height: 64px;
	margin: 0;
	padding-right: 30px;
}
header .nav a {
	color: #000000;
	text-decoration: none;
}
header .nav span:hover{
	color: #00B5EF;	
}

/* --- SLIDER --- */
.carousel-inner img {
    width: 100%;
}
.carousel-inner{
 	height: 400px;
}
.header-text {
	position: absolute;
	font-family: 'Roboto Black', sans-serif;	
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
	color: #FFFFFF;
	opacity: 0.7;
	/* font-size: 2.2vw; */
	letter-spacing: 3px;
}
.header-text #TT1{
	font-size: 2.5vw;
}
.header-text #TT2{
	font-size: 1.5vw;
}
.header-text #TT3{
	font-size: 2.0vw;
}
/* .header-text h2 span {
	padding: 10px;
}
.header-text h3 span {
	padding: 15px;
} */


/* .carousel-caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 15px 5px;
	background: rgba(0,0,0,.75);
 } */
/* .main-text{
    position: absolute;
	top: 5%;
    margin-left: 20%;	
    width: 96.66666666666666%;
    color: #FFFFFF;
} */
/* .btn-min-block{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover{
    color: #000;
    background-color: #FFF;
} */

/* .carousel-caption {
	position: absolute;
    right: 1px;
    top: 5%;
    left: 1px;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
} */
/* header .buscar form button {
	width: 100%;
	background: #000000;
	border-color : #FFFFFF;
	border: none;
	font-size: 24px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	border-radius: 0 21px 21px 0;
	cursor: pointer;
	color: #6d6d6d;
	font-family: 'Roboto', sans-serif;	
} */

/* header .buscar form input:hover {
	background: #000000;
	color: #FFFFFF;
} */