* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
background: #666666;}

/* --- HEADER --- */
header {
background: #000000;
background-size: cover;
background-position: center 0;
background-repeat: no-repeat;}
	/* --- LOGO --- */
	header .logo {
	cursor: pointer;
	text-align: right;	
	vertical-align: top;}
		header .logo #consulta{
		font-family: 'Roboto', sans-serif;
		font-size: 40px;
		color: #FFFFFF;
		padding-right: 20px;}
		header .logo #mobil{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 45px;
		color: #005DAA;}
			header .logo #mobil span{
			font-family: Arial, Helvetica, sans-serif;	
			font-size: 45px;
			color:red;}
		/* --- TELEFONO --- */			
		header .celular #telefono{
		font-family: Arial, Helvetica, sans-serif;	
		font-size: 25px;
		text-align: center;
		color: #FFFFFF;}
		/* --- SOLICITUD DE COTIZACIÓN --- */			
		header .container .cotizacion .contenedor-btns a {
		font-family: 'Roboto', sans-serif;
		border-radius: 4px;
		border: 1px solid #fff;
		color: #fff;
		padding: 4px 0;
		font-weight: 300;
		font-size: 18px;
		width: 210px;
		margin-bottom: 12px;
		display: inline-block;
		text-align: center;
		background: #007bff;}
		header .container .cotizacion .contenedor-btns a:hover {
		text-decoration: none;
		font-family: 'Roboto', sans-serif;			
		border: 1px solid #fff;
		color: #fff;	
		font-size: 18px;		
		background-color: #0750ec;}
	

/* --- MENU NAV --- */
.seccionmenu {
background: #FFFFFF;
background-size: cover;
background-position: center 0;
background-repeat: no-repeat;}

	.menu_nav {
	background: #FFFFFF;
	width: 100%;
		height: 50px;}
		.menu_nav .menu {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		}
			.menu_nav .menu a {
				font-family: "Open Sans", Arial, Sans-serif;
				color: black;
				font-weight: 400;
				font-size: 15px;
				width: 90px;
				display: inline-block;
				text-align: right;
				text-decoration: none;}
				.menu_nav .menu a:hover {
				color:#00B5EF;}

/* --- SLIDER O CAROUSEL --- */
.seccionslider {
	background: #FFFFFF;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
}	
.carousel-inner img {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
}
.carousel-inner{
	height: auto;
}
.header-text1 {
	position: absolute;
	top: 10%;
	width: 96.66666666666666%;
	color: #FFFFFF;
}
.header-text2 {
	position: absolute;
	top: 20%;
	width: 96.66666666666666%;
	color: #FFFFFF;
}
.header-text3 {
	position: absolute;
	top: 20%;
	width: 96.66666666666666%;
	color: #FFFFFF;
}
.header-text1 #S1TT1 {
	font-family: 'Roboto', sans-serif;	
	left: 1.0%;
	letter-spacing: 1px;
	font-size: 10px;
}
.header-text1 #S1TT2 {
	font-family: 'Roboto', sans-serif;
	left: 1.0%;
	letter-spacing: 1px;
	font-size: 10px;
}
.header-text1 #S1TT3 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-size: 6.5px;
}
.header-text2 #S2TT1 {
	letter-spacing: 1px;
	font-size: 12px;
	/* padding: 8px 0; */
}
.header-text2 #S2TT2 {
	letter-spacing: 1px;
	font-size: 8px;
	/* padding: 3px 0;	 */
}
.header-text2 #S2TT3 {
	letter-spacing: 1px;
	font-size: 5px;
	/* padding: 3px 0;	 */
}
.header-text3 #S3TT1 {
	letter-spacing: 2px;
	font-size: 11px;
	text-align: center;
	/* padding: 6px 0;
	display: inline-block; */
}
.header-text3 #S3TT2 {
	letter-spacing: 1px;
	font-size: 8px;
	text-align: center;
	/* font-weight: 300;
	display: inline-block; */
}
.header-text3 #S3TT3 {
	letter-spacing: 1px;
	font-size: 5px;
	text-align: center;	
	/* display: inline-block;
	margin-bottom: 20px; */
}
.contenedor-btns {
	font-family: 'Roboto', sans-serif;}
.slider .contenedor-btns{
	display: none;
}
.contenedor-btns a #txtslider2 {
	margin: 0 30px;}
.contenedor-btns a #txtslider3 {
	margin: 0 50px;
	margin-left: 20.5%;}
.seccioninformacion .contenedor-btns a,
.seccionejemplo .contenedor-btns a {
	margin: 0 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	border-radius: 4px;
	border: 1px solid #fff;
	color: #fff;
	padding: 12px 0;
	font-weight: 500;
	font-size: 20px;
	width: 235px;
	display: inline-block;
	text-align: center;
	background: #D31C24;}	
.slider .contenedor-btns a {
	margin: 0 30px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #fff;
	color: #fff;
	padding: 12px 0;
	font-weight: 500;
	font-size: 20px;
	width: 235px;
	display: none;
	text-align: center;
	background: #D31C24;}
	.slider .contenedor-btns a:hover,
	.seccioninformacion .contenedor-btns a:hover,
	.seccionejemplo .contenedor-btns a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: red;}

/* -----SECCION INFORMACION DE DATOS ----- */
.seccioninformacion {
	background: white;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
	.seccioninformacion .container-fluid {
	font-family: "Open Sans", Arial, Sans-serif;
	font-weight: 500;
	text-align: center;
	border: none;
	flex-direction: row;
	flex-wrap: nowrap;	
	vertical-align: top;}
	.seccioninformacion .container-fluid #C3TT1 {
	font-size: 25px;	
	margin-top: 10px;}
	.seccioninformacion .container-fluid #C3TT2 {
	margin-top: 10px;
	margin-bottom: 20px;	
	font-size: 20px;}
	.seccioninformacion .container-fluid #C3TT3 {
	font-size: 10px;}
	.seccioninformacion .container-fluid #C3TT4 {
	font-size: 10px;}

/* -----SECCION FILSTROS Y ENCUESTA ----- */
.seccionencuesta{
	background: #F3F3F3;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
.seccionencuesta .container{
	font-family: "Open Sans", Arial, Sans-serif;
	color: white;
	border: none;
	flex-direction: row;
	flex-wrap: nowrap;	
	vertical-align: top;}

/* -----SECCION TESTIMONIO ----- */
.secciontestimonio {
	background: #FFFFFF;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
	.secciontestimonio .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;}

/* -----SECCION COMPORTAMIENTO DE PAGO ----- */		
.seccionpagos{
	background: linear-gradient(white, #E3FBFF);
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 50px 0;}
.seccionpagos .container-fluid{
	text-align: center;
	font-family: "Open Sans", Arial, Sans-serif;
	font-weight: 500;
	font-size: 1.5vw;
	color: black;}	
	.seccionpagos .container-fluid #C3TT1 {
		margin-top: 10px;	
		font-size: 1.5vw;}
	.seccionpagos .container-fluid #C3TT2 {
		margin-top: 10px;
		margin-bottom: 20px;	
		font-size: 1.5vw;
		font-weight: 500;}	

/* -----SECCION CUADRO EJEMPLO ----- */
/* -----SECCION TESTIMONIO ----- */
.seccionejemplo {
	background: #FFFFFF;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
	.seccionejemplo .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;}

/* -----SECCION PRECIOS ----- */
.seccionprecios{
	background: #F3F3F3;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
}
.container-fluid .cprecios .precios {
	flex-direction: row;
	flex-wrap: nowrap;	
}
.container-fluid .cprecios .precios .png2  {
	vertical-align: top;
}
.main .precios {
	background: url("../img/precios-bg.jpg"), #727171;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 20px 0; }
	.main .precios .titulo {
	  text-align: center;
	  font-family: "Open Sans", Arial, Sans-serif;
	  font-weight: 300;
	  font-size: 30px;
	  color: #fff;
	  margin-bottom: 20px;
	 }
	.main .precios .plan {
	  background: #fff;
	  text-align: center;
	  font-family: "Open Sans", Arial, Sans-serif;
	  padding: 50px 0;
	  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
	  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); }
	  .main .precios .plan .nombre {
		font-size: 32px;
		line-height: 32px;
		font-weight: 300;
		margin-bottom: 30px; }
	  .main .precios .plan .precio {
		font-weight: 300;
		font-size: 48px;
		margin-bottom: 5px; }
	  .main .precios .plan .unidad {
		font-weight: 300;
		font-size: 25px;
		margin-bottom: 30px; }		
	  .main .precios .plan .caracteristicas {
		list-style: none;
		padding: 0 20px;
		margin-bottom: 50px; }
		.main .precios .plan .caracteristicas li {
		  font-size: 18px;
		  padding: 15px 0;
		  border-bottom: 1px solid #dedede; }
	  .main .precios .plan .btn {
		width: 70%;
		font-size: 16px;
		padding: 15px 0;
		text-align: center;
		display: inline-block;
		border-radius: 100px; }
	  .main .precios .plan.verde .nombre,
	  .main .precios .plan.verde .precio,
	  .main .precios .plan.verde .unidad {
		color: #86b773; }
	  .main .precios .plan.verde .btn {
		color: #86b773;
		border: 2px solid #86b773; }
		.main .precios .plan.verde .btn:hover {
		  background: #86b773;
		  color: #fff; }
	  .main .precios .plan.active {
		background: #4c8dce;
		color: #fff; }
		.main .precios .plan.active .btn {
		  color: #fff;
		  border: 2px solid #fff; }
		  .main .precios .plan.active .btn:hover {
			background: #fff;
			color: #4c8dce; }
	  .main .precios .plan.naranja .nombre,
	  .main .precios .plan.naranja .precio {
		color: #ddb146; }
	  .main .precios .plan.naranja .btn {
		color: #ddb146;
		border: 2px solid #ddb146; }
		.main .precios .plan.naranja .btn:hover {
		  background: #ddb146;
		  color: #fff; }

/* --- SECCION CONTACTO --- */

.seccioncontacto{
	background: linear-gradient(white, #E3FBFF);
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
}
.contacto {
	padding: 20px 0;
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
	/* margin-bottom: 40px; */
}
.contacto .titulo {
	color: #003855;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.contacto .form-group {
	margin-bottom: 0;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;	
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	padding: 15px;
	border:2px solid #cecece;	
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	width: 100%;
	color:#a4a4a4;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}
.formulario textarea {
	height: 150px;
	min-height: 150px;
	max-height: 250px;
}
.formulario .boton {
	background: #3da5e2;
	border: none;
	padding: 7px 30px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	width: auto;
	border-radius: 3px;
}
.formulario .boton:hover {
	background: #1BA0EF;
}

/* ----- ----- FOOTER ----- ----- */


/**********************************************************************************************************/
/************  TAMAÑO DISPOSITIVO MOVIL  ************/
/**********************************************************************************************************/
/* @media screen and (min-width: 480px){

} */
/**********************************************************************************************************/
/************  TAMAÑO DISPOSITIVO MOVIL GRANDE  ************/
/**********************************************************************************************************/
/* @media screen and (min-width: 600px){

} */
/**********************************************************************************************************/
/************  TAMAÑO DISPOSITIVO TABLET  ************/
/**********************************************************************************************************/
@media screen and (min-width: 767px){
/* --- LOGO --- */
header .logo {
	cursor: pointer;
	text-align: right;	
	vertical-align: top;}
		header .logo #consulta{
		font-family: 'Roboto', sans-serif;
		font-size: 40px;
		color: #FFFFFF;
		padding-right: 20px;}
		header .logo #mobil{
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 45px;
		color: #005DAA;}
			header .logo #mobil span{
			font-family: Arial, Helvetica, sans-serif;	
			font-size: 45px;
			color:red;}
		/* --- TELEFONO --- */			
		header .celular #telefono{
		font-family: Arial, Helvetica, sans-serif;	
		font-size: 25px;
		/* margin-left: 60px; */
		color: #FFFFFF;}
		/* --- SOLICITUD DE COTIZACIÓN --- */			
		header .container .cotizacion .contenedor-btns a {
		font-family: 'Roboto', sans-serif;
		border-radius: 4px;
		border: 1px solid #fff;
		color: #fff;
		padding: 4px 0;
		font-weight: 300;
		font-size: 18px;
		width: 210px;
		margin-bottom: 0px;
		display: inline-block;
		text-align: center;
		background: #007bff;}
		header .container .cotizacion .contenedor-btns a:hover {
		text-decoration: none;
		font-family: 'Roboto', sans-serif;			
		border: 1px solid #fff;
		color: #fff;	
		font-size: 18px;		
		background-color: #0750ec;}

/* --- MENU NAV --- */
.seccionmenu {
	background: #FFFFFF;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
	
		.menu_nav {
		background: #FFFFFF;
		width: 100%;
			height: 50px;}
			.menu_nav .menu {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			}
				.menu_nav .menu a {
					font-family: "Open Sans", Arial, Sans-serif;
					color: black;
					font-weight: 400;
					font-size: 20px;
					width: 200px;
					display: inline-block;
					text-align: right;
					text-decoration: none;}
					.menu_nav .menu a:hover {
					color:#00B5EF;}

/* --- SLIDER O CAROUSEL --- */
.seccionslider {
	background: #FFFFFF;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
}	
.carousel-inner img {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;	
}
.carousel-inner{
	height: auto;
}
.header-text1 {
	position: absolute;
	top: 20%;
	width: 96.66666666666666%;
	color: #FFFFFF;
}
.header-text2 {
	position: absolute;
	top: 20%;
	width: 96.66666666666666%;
	color: #FFFFFF;
}
.header-text3 {
	position: absolute;
	top: 20%;
	width: 96.66666666666666%;
	color: #FFFFFF;
}
.header-text1 #S1TT1 {
	font-family: 'Roboto', sans-serif;	
	left: 1.8%;
	letter-spacing: 1px;
	font-size: 2.5vw;
}
.header-text1 #S1TT2 {
	font-family: 'Roboto', sans-serif;
	left: 1.8%;
	letter-spacing: 1px;
	font-size: 1.5vw;
}
.header-text1 #S1TT3 {
	font-family: 'Roboto', sans-serif;
	left: 1.8%;
	letter-spacing: 1px;
	font-size: 2.0vw;
}
.header-text2 #S2TT1 {
	left: 1.8%;
	letter-spacing: 1px;
	font-size: 2.0vw;
	padding: 8px 0;
}
.header-text2 #S2TT2 {
	left: 1.8%;
	letter-spacing: 1px;
	font-size: 1.5vw;
	padding: 3px 0;	
}
.header-text2 #S2TT3 {
	left: 1.8%;
	letter-spacing: 1px;
	font-size: 1.0vw;
	padding: 3px 0;	
}
.header-text3 #S3TT1 {
	left: 1.8%;
	letter-spacing: 2px;
	font-size: 2.0vw;
	padding: 6px 0;
	display: inline-block;
	text-align: center;	
}
.header-text3 #S3TT2 {
	letter-spacing: 1px;
	font-size: 1.5vw;
	font-weight: 300;
	display: inline-block;
	text-align: center;	
}
.header-text3 #S3TT3 {
	left: 1.8%;
	letter-spacing: 1px;
	font-size: 1.0vw;
	display: inline-block;
	text-align: center;	
	margin-bottom: 20px;
}
.contenedor-btns {
	font-family: 'Roboto', sans-serif;}
.slider .contenedor-btns{
	display: inline;}	
.contenedor-btns a #txtslider2 {
	margin: 0 30px;}
.contenedor-btns a #txtslider3 {
	margin: 0 50px;
	margin-left: 20.5%;}
.seccioninformacion .contenedor-btns a,
.seccionejemplo .contenedor-btns a {
	margin: 0 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	border-radius: 4px;
	border: 1px solid #fff;
	color: #fff;
	padding: 12px 0;
	font-weight: 500;
	font-size: 20px;
	width: 235px;
	display: inline-block;
	text-align: center;
	background: #D31C24;}	
.slider .contenedor-btns a {
	margin: 0 30px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #fff;
	color: #fff;
	padding: 12px 0;
	font-weight: 500;
	font-size: 20px;
	width: 235px;
	display: inline-block;
	text-align: center;
	background: #D31C24;}
	.slider .contenedor-btns a:hover,
	.seccioninformacion .contenedor-btns a:hover,
	.seccionejemplo .contenedor-btns a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: red;}

/* -----SECCION INFORMACION DE DATOS ----- */
.seccioninformacion {
	background: white;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;}
	.seccioninformacion .container-fluid {
	font-family: "Open Sans", Arial, Sans-serif;
	font-weight: 500;
	text-align: center;
	border: none;
	flex-direction: row;
	flex-wrap: nowrap;	
	vertical-align: top;}
	.seccioninformacion .container-fluid #C3TT1 {
	font-size: 2.5vw;	
	margin-top: 10px;}
	.seccioninformacion .container-fluid #C3TT2 {
	margin-top: 10px;
	margin-bottom: 20px;	
	font-size: 1.5vw;}
	.seccioninformacion .container-fluid #C3TT3 {
	font-size: 1.0vw;}
	.seccioninformacion .container-fluid #C3TT4 {
	font-size: 1.0vw;}

	.main .precios {
		background: url("../img/precios-bg.jpg"), #727171;
		background-size: cover;
		background-position: center 0;
		background-repeat: no-repeat;
		padding: 70px 0; }	
	.main .precios .titulo {
		text-align: center;
		font-family: "Open Sans", Arial, Sans-serif;
		font-weight: 300;
		font-size: 3.0vw;
		color: #fff;
		margin-bottom: 70px; }	

		.contacto {
			padding: 40px 0;
			border-top: 1px solid #cbcbcb;
			border-bottom: 1px solid #cbcbcb;
			/* margin-bottom: 40px; */
		}
		.contacto .titulo {
			color: #003855;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			font-size: 3.0vw;
			margin-bottom: 40px;
			text-align: center;
		}		

}
/**********************************************************************************************************/
/************  TAMAÑO DISPOSITIVO DESKTOP  ************/
/**********************************************************************************************************/
/* @media screen and (min-width: 950px){

} */
