
.icon-search:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-trash-empty:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-left-open-2:before { content: '\e807'; } /* '' */
.icon-right-open-2:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e80a'; } /* '' */
.icon-basket:before { content: '\e80b'; } /* '' */
.icon-money-1:before { content: '\e80c'; } /* '' */
.icon-filter-1:before { content: '\e80d'; } /* '' */
.icon-trash:before { content: '\e80e'; } /* '' */
.icon-plus-1:before { content: '\e80f'; } /* '' */
.icon-video:before { content: '\e810'; } /* '' */
.icon-plus-2:before { content: '\e811'; } /* '' */
.icon-plus-3:before { content: '\e812'; } /* '' */
.icon-basket-1:before { content: '\e813'; } /* '' */
.icon-credit-card:before { content: '\e814'; } /* '' */
.icon-credit-card-1:before { content: '\e815'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */